<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Quicktonary</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- //// -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <!-- //// -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div class="word">
        <span><input class='letter_input' type="text" id='letter1'></span>
        <span><input class='letter_input' type="text" id='letter2'></span>
        <span><input class='letter_input' type="text" id='letter3'></span>
        <span><input class='letter_input' type="text" id='letter4'></span>
    </div>
  		<!-- operators and other keys -->
<div id='alphabet'>
  <div class="keys">
  		<span id='q' value='q'>Q</span>
  		<span id='w' value='w'>W</span>
      <span id='e' value='e'>E</span>
  		<span id='r' value='r'>R</span>
  		<span id='t' value='t'>T</span>
  		<span id='y' value='y'>Y</span>
  		<span id='u' value='u'>U</span>
  		<span id='i' value='i'>I</span>
  		<span id='o' value='o'>O</span>
  		<span id='p' value='p'>P</span>
      <span></span>

    </div>
    <div class="keys">
      <span></span>
  		<span  id='a' value='a'>A</span>
  		<span  id='s' value='s'>S</span>
  		<span id='d' value='d'>D</span>
  		<span id='f' value='f'>F</span>
  		<span id='g' value='g'>G</span>
  		<span id='h' value='h'>H</span>
  		<span id='j' value='j'>J</span>
  		<span id='k' value='k'>K</span>
  		<span id='l' value='l'>L</span>
      <span></span>
    </DIV>
    <div class="keys">
      <span></span>
      <span></span>
  		<span id='z' value='z'>Z</span>
      <span id='x' value='x'>X</span>
      <span id='c' value='c'>C</span>
      <span id='v' value='v'>V</span>
      <span id='b' value='b'>B</span>
      <span id='n' value='n'>N</span>
      <span id='n' value='m'>M</span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class='submit'>
      <span id='submit'>SUBMIT</span>
    </div>
  </bod>
</html>
