<!DOCTYPE html>
<html>
  <head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Quicktonary</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/bundle.js"></script>
  <link rel='stylesheet' type='text/css' href='../styles/styles.css'></link>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- //// -->
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <!-- //// -->

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <div class='word' id='past_words'>

    </div>
    <div class="word">
        <span><input class='letter_input' type="text" id='letter1'></span>
        <span><input class='letter_input' type="text" id='letter2'></span>
        <span><input class='letter_input' type="text" id='letter3'></span>
        <span><input class='letter_input' type="text" id='letter4'></span>
    </div>
  		<!-- operators and other keys -->
<div id='alphabet'>
  <div class="keys">
  		<span class='letters' name='alphabet' id='Q' value='q'>Q</span>
  		<span class='letters' name='alphabet' id='W' value='w'>W</span>
      <span class='letters' name='alphabet' id='E' value='e'>E</span>
  		<span class='letters' name='alphabet' id='R' value='r'>R</span>
  		<span class='letters' name='alphabet' id='T' value='t'>T</span>
  		<span class='letters' name='alphabet' id='Y' value='y'>Y</span>
  		<span class='letters' name='alphabet' id='U' value='u'>U</span>
  		<span class='letters' name='alphabet' id='I' value='i'>I</span>
  		<span class='letters' name='alphabet' id='O' value='o'>O</span>
  		<span class='letters' name='alphabet' id='P' value='p'>P</span>
      <span></span>

    </div>
    <div class="keys">
      <span></span>
  		<span class='letters' name='alphabet' id='A' value='a'>A</span>
  		<span class='letters' name='alphabet' id='S' value='s'>S</span>
  		<span class='letters' name='alphabet' id='D' value='d'>D</span>
  		<span class='letters' name='alphabet' id='F' value='f'>F</span>
  		<span class='letters' name='alphabet' id='G' value='g'>G</span>
  		<span class='letters' name='alphabet' id='H' value='h'>H</span>
  		<span class='letters' name='alphabet' id='J' value='j'>J</span>
  		<span class='letters' name='alphabet' id='K' value='k'>K</span>
  		<span class='letters' name='alphabet' id='L' value='l'>L</span>
      <span></span>
    </DIV>
    <div class="keys">
      <span></span>
      <span></span>
  		<span class='letters' name='alphabet' id='Z' value='z'>Z</span>
      <span class='letters' name='alphabet' id='X' value='x'>X</span>
      <span class='letters' name='alphabet' id='C' value='c'>C</span>
      <span class='letters' name='alphabet' id='V' value='v'>V</span>
      <span class='letters' name='alphabet' id='B' value='b'>B</span>
      <span class='letters' name='alphabet' id='N' value='n'>N</span>
      <span class='letters' name='alphabet' id='M' value='m'>M</span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class='submit'>
      <span id='submit'>SUBMIT</span>
    </div>
  </bod>
</html>
